[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "covid19dbcand"]
	path = covid19dbcand
	url = https://github.com/interstellar-egypt/covid19dbcand
